apiVersion: v1
kind: Namespace
metadata:
  name: Development
  
---


apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-dockerpython
  namespace: Development
  labels:
    app: flask-dockerpython
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-dockerpython
  template:
    metadata:
      labels:
        app: flask-dockerpython
    spec:
      containers:
      - name: dockerpythonserver
        image: akshaytr123/flask-dockerpython:latest
        ports:
        - containerPort: 5000
        
        
---

apiVersion: v1
kind: Service
metadata:
  name: flask-dockerpython-service
  namespace: kubernetes
spec:
  selector:
    app: flask-dockerpython 
  type: NodePort
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 
